# Credentials and Tokens
token.json
credentials.json
client_secret*.json
oauth*.json

# Python cache and virtual environments
__pycache__/
*.pyc
.env
venv/
env/

# Google Cloud specific files
.gcloud/

# OS specific files
.DS_Store
Thumbs.db
